/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
 

/* Styles for the body */

body {
	font-family: 'Quicksand', sans-serif;
	color: #202030;
	background-color: #E7D6E6;
}

header {
	font-family: 'Quicksand', sans-serif;
	color: #FFFFFF;
	background-color: #FFFFFF;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #918CBC;
}

.resume-main {
	background-color: #FFFEFC;
}

.resume-aside {
	background-color: #D8D6E7;
}

.bg-warning {
    background-color: rgba(143, 120, 141, 1)!important;
}

.border-info {
    border-color: rgba(255, 255, 255, 1)!important;
}


/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #746BC0;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
